@value makerShadow, makerWhite, makerBlue, makerLightGray, makerLightGray2,makerGray, makerBlack from '../../common/colors.css';

.container{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: makerWhite;
    padding: 0px 25px;
    border-right: 1px solid makerLightGray2;
}
.title{
    font-size: 1.3em;
    padding: 20px 0;
}

.listContainer{
    min-height: 0;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.list{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid makerLightGray;
}
.select{
    width: 80px;
    border-radius: 4px;
    color: makerBlack;
}